.block {
  @include flex(row, 20px);
}

.photo {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: cover;
  object-position: 30%;
  border-radius: 10px;
}

.info {
  text-align: justify;
}
