body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Marcellus', sans-serif;
  background-color: $light-gray; // Tło główne
  color: $dark-gray; // Kolor tekstu

  a {
    text-decoration: none;
    color: $dark-gray;

    &:hover {
      color: $crimson-red; // Karmazynowy na hover
    }
  }
}
