// greyscale
$light-grey: #ebebeb; // Tło główne
$medium-grey: #cfcece; // Sekcje
$dark-grey: #333333; // Tekst nagłówków i główny
$graphite-grey: #4a4a4a; // Dodatkowe obramowania lub subtelne detale

// Accent colors
$crimson-red: #910d16; // Akcenty i przyciski
$navy-blue: #1d3557; // Drugorzędne akcenty i elementy dekoracyjne
