<section class="section m_grey" id="about">
  <div class="container">
    <h2>O kancelarii</h2>
    <div class="block">
      <img class="photo" src="../assets/violetta.jpg" alt="Violetta Micorek" />
      <div class="info photo">
        <h3>O nas</h3>
        <p>
          <span class="bold">Kancelaria Radcy Prawnego Violetta Micorek</span>
          została założona z myślą o świadczeniu profesjonalnej, kompleksowej
          pomocy prawnej zarówno dla osób fizycznych, jak i przedsiębiorców.
          Naszym celem jest zapewnienie wysokiej jakości obsługi prawnej,
          dostosowanej do indywidualnych potrzeb każdego klienta. Oferujemy
          pomoc prawną w zakresie szerokiego wachlarza dziedzin prawa, w tym
          prawa cywilnego, gospodarczego, rodzinnego, administracyjnego, a także
          prawa pracy.
        </p>
        <p>
          Nasza kancelaria wyróżnia się doświadczeniem, rzetelnością oraz
          zaangażowaniem w każdą sprawę. Zespół składa się z wysoko
          wykwalifikowanych radców prawnych, którzy nie tylko posiadają bogate
          doświadczenie zawodowe, ale także ciągle podnoszą swoje kwalifikacje,
          aby sprostać wymaganiom współczesnego rynku usług prawnych.
        </p>
        <p>
          Oferujemy pomoc prawną na każdym etapie sprawy - od doradztwa i
          negocjacji przez reprezentację przed sądami i organami
          administracyjnymi po finalne rozwiązanie sprawy. Zależy nam na tym,
          aby nasi klienci czuli się pewnie i bezpiecznie, wiedząc, że ich
          sprawy są w rękach profesjonalistów.
        </p>
        <p>
          <span class="bold">Kancelaria Radcy Prawnego Violetta Micorek</span>
          to miejsce, gdzie priorytetem jest interes klienta. Do każdej sprawy
          podchodzimy indywidualnie, proponując rozwiązania dopasowane do
          specyfiki i potrzeb konkretnej sytuacji. Dążymy do osiągnięcia
          najlepszych możliwych rezultatów, zachowując przy tym pełną
          przejrzystość działania oraz pełną poufność informacji.
        </p>

        <p>
          Zaufaj naszemu doświadczeniu i wiedzy – skontaktuj się z nami, aby
          omówić swoją sprawę.
        </p>
      </div>
    </div>
  </div>
</section>
