<section class="section m_grey" id="about">
  <div class="container">
    <div class="hideable-info">
      <button onclick="hideDiv()" class="btn-hide">Ukryj info</button>
      <script>
        const hideDiv = () => {
          const div = document.querySelector('.hideable-info');
          div.style.display = 'none';
        };
      </script>
      <p class="green">
        Tu można jeszcze dać informacje o samej kancelarii, jeżeli taki tekst
        jest w planach, albo pozostać przy informacjach tylko o p. Violetcie.
        Oczywiście można zrobić osobne sekcje o kancelarii i Pani Violetcie -
        wedle życzenia.
      </p>
    </div>
    <div class="block">
      <img class="photo" src="../assets/violetta.jpg" alt="Violetta Micorek" />
      <div class="info photo">
        <h2>Violetta Micorek</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro,
          praesentium iusto! Quam, error. Laborum culpa enim odit veritatis,
          dolorum laudantium officiis similique aliquid libero pariatur. Vitae
          fugit mollitia at ducimus.
        </p>
        <p>
          Provident quisquam laboriosam laborum expedita eaque esse,
          necessitatibus adipisci sapiente optio corporis voluptate ducimus.
          Voluptas corrupti ab quas est tempora debitis laudantium dignissimos,
          sit asperiores, similique necessitatibus perspiciatis facilis deleniti
          consequatur.
        </p>
        <p>
          A et minima natus molestias nam inventore aut iste laudantium
          excepturi recusandae voluptates perferendis dignissimos ducimus
          veritatis porro voluptatum ipsa, eveniet corrupti dolorum, voluptate
          maiores accusamus quia doloremque ea. Eos aut fuga provident repellat
          earum in non? Temporibus, ea!
        </p>
      </div>
    </div>
  </div>
</section>
