<div id="modal-overlay" class="modal-overlay hidden">
  <div class="modal">
    <button class="close-modal" aria-label="Close modal">&times;</button>
    <div class="modal-content">
      <h4>
        Nasza Kancelaria oferuje pełne wsparcie w zakresie następujących
        czynności prawnych:
      </h4>
      <ul class="modal-list">
        <li class="modal-element bold">
          Udzielanie porad prawnych
          <p class="normal">
            Udzielamy fachowych porad prawnych, pomagając klientom w zrozumieniu
            przepisów prawa oraz wskazując najlepsze rozwiązania w konkretnych
            sprawach prawnych. Porady obejmują szeroki zakres dziedzin, takich
            jak prawo cywilne, rodzinne, gospodarcze, pracy, karne czy
            administracyjne.
          </p>
        </li>
        <li class="modal-element bold">
          Sporządzanie i analiza umów
          <p class="normal">
            Przygotowujemy, analizujemy i opiniujemy umowy, w tym umowy
            cywilnoprawne, handlowe, najmu, sprzedaży, o dzieło i inne.
            Doradzamy w negocjacjach umownych, dbając o ochronę interesów
            klienta i zgodność zapisów z obowiązującym prawem.
          </p>
        </li>
        <li class="modal-element bold">
          Reprezentowanie przed sądami i organami administracyjnymi
          <p class="normal">
            Reprezentujemy naszych klientów przed sądami cywilnymi,
            administracyjnymi, karnymi, a także innymi organami państwowymi.
            Sporządzamy pozwy, apelacje, zażalenia oraz inne pisma procesowe,
            dbając o skuteczne i terminowe prowadzenie sprawy.
          </p>
        </li>
        <li class="modal-element bold">
          Negocjacje i mediacje
          <p class="normal">
            Wspieramy naszych klientów w negocjacjach i postępowaniach
            mediacyjnych, dążąc do wypracowania polubownego rozwiązania sporów,
            co często pozwala na uniknięcie kosztownych i czasochłonnych
            postępowań sądowych.
          </p>
        </li>
        <li class="modal-element bold">
          Obsługa prawna przedsiębiorstw
          <p class="normal">
            Oferujemy kompleksową obsługę prawną firm, w tym doradztwo w
            zakresie prawa cywilnego, handlowego, prawa pracy, prawa karnego
            oraz prawa ochrony danych osobowych. Pomagamy przy zakładaniu
            spółek, tworzeniu regulaminów, umów, a także reprezentujemy
            przedsiębiorców w sporach sądowych i administracyjnych.
          </p>
        </li>
        <li class="modal-element bold">
          Reprezentowanie w sprawach spadkowych
          <p class="normal">
            Świadczymy pomoc prawną w sprawach związanych z dziedziczeniem,
            sporządzaniem testamentów, podziałem majątku spadkowego, a także
            reprezentowaniem klientów w postępowaniach spadkowych przed sądami.
          </p>
        </li>
        <li class="modal-element bold">
          Reprezentacja w sprawach pracowniczych
          <p class="normal">
            Udzielamy pomocy prawnej zarówno pracownikom, jak i pracodawcom w
            kwestiach związanych z prawem pracy, w tym m.in. w sprawach o
            wynagrodzenie, mobbing, rozwiązanie umowy o pracę, czy
            odpowiedzialność pracowniczą.
          </p>
        </li>
        <li class="modal-element bold">
          Windykacja należności
          <p class="normal">
            Prowadzimy postępowania windykacyjne, pomagając w odzyskiwaniu
            należności od dłużników, zarówno na etapie polubownym, jak i
            sądowym. Działamy szybko i skutecznie, minimalizując ryzyko dla
            naszych klientów.
          </p>
        </li>
        <li class="modal-element bold">
          Doradztwo w zakresie prawa rodzinnego
          <p class="normal">
            Oferujemy pomoc prawną w sprawach rodzinnych, takich jak rozwody,
            separacje, podział majątku, ustalanie alimentów, czy ustalanie i
            wykonywanie kontaktów z dziećmi.
          </p>
        </li>
        <li class="modal-element bold">
          Porady i reprezentacja w sprawach administracyjnych
          <p class="normal">
            Nasza Kancelaria świadczy pomoc w sprawach związanych z
            administracją publiczną, takimi jak odwołania od decyzji
            administracyjnych, sprawy dotyczące planów zagospodarowania
            przestrzennego, pozwolenia na budowę, czy sprawy związane z
            działalnością gospodarczą.
          </p>
        </li>
      </ul>

      <p>
        Nasza Kancelaria oferuje profesjonalne wsparcie w każdej z wymienionych
        dziedzin, zawsze dążąc do zapewnienia jak najlepszych rezultatów dla
        naszych klientów. Zaufaj doświadczeniu i wiedzy naszych radców prawnych
        – skontaktuj się z nami, aby omówić szczegóły swojej sprawy.
      </p>
    </div>
  </div>
</div>
