<section class="section m_grey" id="services">
    <h2>Czynności</h2>
  <div class="container block">
      <div class="info">
              <p>
                Nasza Kancelaria oferuje pełne wsparcie w zakresie następujących czynności prawnych:
              </p>
              <ol class="services-list">
                <li class="services-element">Udzielanie porad prawnych</li>
                <li class="services-element">Sporządzanie i analiza umów</li>
                <li class="services-element">Reprezentowanie przed sądami i organami administracyjnymi</li>
                <li class="services-element">Negocjacje i mediacje</li>
                <li class="services-element">Obsługa prawna przedsiębiorstw</li>
                <li class="services-element">Reprezentowanie w sprawach spadkowych</li>
                <li class="services-element">Reprezentacja w sprawach pracowniczych</li>
                <li class="services-element">Windykacja należności</li>
                <li class="services-element">Doradztwo w zakresie prawa rodzinnego</li>
                <li class="services-element">Porady i reprezentacja w sprawach administracyjnych</li>
              </ol>
              <div class="center"><button class="btn-primary">Czytaj więcej</button></div>
        </div>
          <img class="photo" src="../assets/services.jpg" alt="Violetta Micorek" />
</section>
